<div class="top boundary">
	
	<div class="row-fluid">
		<div class="span4">
			<h2> <%= show_company_name %> </h2>
			<p> <%= Time.now.strftime("%A %B %e") %>
		</div>
		<div class="span8">

		</div>
	</div>
</div>